{% extends "bill_app/layout.html" %}


{% load static %}

{% block content %}
<!-- <p>admin register page</p>
<hr>
<br>
    <form action="{% url 'admin_register' %}" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Register">
        <input type="reset" value="Cancel">

    </form> -->


    <div class="container mt-3">
        <div class="card card_form">
          <div class="card-header card_head text-center bg-dark text-light">
            Admin Registration
          </div>
      
          <div class="card-body text-center text-md-start">
            <form action="{% url 'admin_register' %}" method="POST">
              {% csrf_token %}
              <div class="row align-items-center mt-3">
                  <div class="offset-md-2 col-md-4 col-sm-12 col-12">
                    <label class="input_label" for="email">Email</label>
                  </div>
                  <div class="col-md-4 col-sm-12 col-12">
                    <input required class="form-control" type="email" id="email" name="email"  value="{{form.email.value |default_if_none:''}}"/>
                    {% if form.errors %}
                    <div>
                        <span class="text-danger">{{form.email.errors}} </span>
                    </div>
                    {% endif %}
                  </div>
                </div>
                <div class="row align-items-center mt-3">
                  <div class="offset-md-2 col-md-4 col-sm-12 col-12">
                    <label class="input_label" for="user_name">User&nbsp;Name</label>
                  </div>
                  <div class="col-md-4 col-sm-12 col-12">
                    <input required class="form-control" type="text" id="user_name" name="username" value="{{form.username.value |default_if_none:''}}" minlength="5" />
                    {% if form.errors %}
                    <div>
                        <span class="text-danger">{{form.username.errors}} </span>
                    </div>
                    {% endif %}
                  </div>
                </div>
                <div class="row align-items-center mt-3">
                  <div class="offset-md-2 col-md-4 col-sm-12 col-12">
                    <label class="input_label" for="password">Password</label>
                  </div>
                  <div class="col-md-4 col-sm-12 col-12">
                    <input required class="form-control" type="password" id="password" name="password1" value="{{form.password1.value |default_if_none:''}}" minlength="8" />
                    {% if form.errors %}
                    <div>
                        <span class="text-danger">{{form.password1.errors}} </span>
                    </div>
                    {% endif %}
                  </div>
                </div>
                <div class="row align-items-center mt-3">
                  <div class="offset-md-2 col-md-4 col-sm-12 col-12">
                    <label class="input_label" for="confirm_password">Confirm Password</label>
                  </div>
                  <div class="col-md-4 col-sm-12 col-12">
                    <input required class="form-control" type="password" id="confirm_password" name="password2" />
                    {% if form.errors %}
                    <div>
                        <span class="text-danger">{{form.password2.errors}} </span>
                    </div>
                    {% endif %}
                  </div>
                </div>
                <hr class="hr-center" />
                <div class="text-center my-3">
                  <button type="submit" class="my_btn btn btn-outline-success">Save</button>
                  {% if form.errors %}
                    <a href="{% url 'admin_register' %}"><button type="button" class="my_btn btn btn-outline-danger">Cancel</button></a>
                  {% else %}
                    <button type="reset" class="my_btn btn btn-outline-danger">Cancel</button>
                  {% endif %}
                </div>
              </form>
            </form>
          </div>
        </div>
      </div>
{% endblock content %}