{% extends "bill_app/layout.html" %}
{% load static %}

{% block content %}

    <div class="container-fluid mt-3">
     
      <div class="card table_card">
        <!-- <div class="card-header card_head">
            View Product
        </div> -->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table text-center table-striped table-bordered" id="remove_products_table">
                  <thead class="table_head">
                    <tr>
                      <th>S.No</th>
                      <th>Barcode&nbsp;No</th>
                      <th>Brand</th>
                      <th>Product&nbsp;Name</th>
                      <th>Total&nbsp;Quantity</th>
                      {% comment %} <th>Units</th> {% endcomment %}
                      <th>Stock&nbsp;Quantity</th>
                      <th>Sold&nbsp;Quantity</th>
                      <th>Product&nbsp;Quantity</th>
                      {% comment %} <th>Units</th> {% endcomment %}
                      <th>MRP</th>
                      <th>Sale&nbsp;Amount</th>
                      <th>Manufacture&nbsp;Date</th>
                      <th>Expiry&nbsp;Date</th>
                      <th>Status</th>
                      {% if user.is_role == 'Admin' or user.is_staff %}
                      <th>Action</th>
                      {% else %}
                      {% endif %}
                    </tr>
                  </thead>
                  <tbody>
                    {% for product in all_products %}
                      <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{product.barcode_no}}</td>
                        <td>{{product.brand}}</td>
                        <td>{{product.product_name}}</td>
                        <td>{{product.total_quantity|floatformat}}&nbsp;&nbsp;{{product.tq_units}}</td>
                        {% comment %} <td>{{product.tq_units}}</td> {% endcomment %}
                        <td {% if product.stock_quantity <= 20 %} style="color: red;" {% else %} {% endif %}>{{product.stock_quantity|floatformat}}&nbsp;&nbsp;{{product.tq_units}}</td>
                        <td>{{product.sold_quantity|floatformat}}&nbsp;&nbsp;{{product.tq_units}}</td>
                        <td>{{product.product_quantity|floatformat}}&nbsp;&nbsp;{{product.q_measurements}}</td>
                        {% comment %} <td>{{product.q_measurements}}</td> {% endcomment %}
                        <td>{{product.mrp}}</td>
                        <td>{{product.sale_price}}</td>
                        <td>{{product.manufacture_date|date:'d-m-Y'}}</td>
                        <td>{{product.expiry_date|date:'d-m-Y'}}</td>
                        
                        {% comment %} {% if product.status and product.expiry and product.out_of_stock %}
                          <td class="text-danger">Expired&nbsp;&&nbsp;stock&nbsp;out</td>
                        {% elif product.status and product.out_of_stock %}
                            <td class="text-danger">Out&nbsp;of&nbsp;stock</td>
                        {% elif product.status and product.expiry %}
                            <td class="text-danger">Expired</td>
                        {% elif product.status %}
                          <td class="text-success">Live</td>
                        {% elif product.out_of_stock and product.expiry %}
                          <td class="text-danger">Expired&nbsp;&&nbsp;stock&nbsp;out</td>
                        {% elif product.expiry %}
                          <td class="text-danger">Expired</td>
                        {% elif product.out_of_stock %}
                          <td class="text-danger">Out&nbsp;of&nbsp;stock</td>
                        {% else %}
                            <td class="text-danger">Not</td>
                        {% endif %} {% endcomment %}

                        {% if product.status and product.expiry and product.out_of_stock %}
                        <td class="text-danger">Expired&nbsp;&&nbsp;stock&nbsp;out</td>
                        {% elif product.status and product.out_of_stock %}
                            <td class="text-danger">Out&nbsp;of&nbsp;stock</td>
                        {% elif product.status and product.expiry %}
                            <td class="text-danger">Expired</td>
                        {% elif product.status %}
                          <td class="text-success">Live</td>
                        {% elif not product.status and product.out_of_stock and product.expiry %}
                        <td class="text-warning">Expired&nbsp;&&nbsp;stock&nbsp;out&nbsp;&&nbsp;Notlive</td>
                        {% elif not product.status and product.out_of_stock %}
                        <td class="text-warning">Stock&nbsp;out&nbsp;&&nbsp;Notlive</td>
                        {% elif not product.status and product.expiry %}
                        <td class="text-warning">Expired&nbsp;&&nbsp;Notlive</td>
                        {% elif product.out_of_stock and product.expiry %}
                          <td class="text-danger">Expired&nbsp;&&nbsp;stock&nbsp;out</td>
                        {% elif product.expiry %}
                          <td class="text-danger">Expired</td>
                        {% elif product.out_of_stock %}
                          <td class="text-danger">Out&nbsp;of&nbsp;stock</td>
                        {% else %}
                            <td class="text-danger">Not</td>
                        {% endif %}

                        {% if user.is_role == 'Admin' or user.is_staff %}
                          <td>
                            <div class="d-flex">
                              <form action="{% url 'product_readd' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="id" id="" value="{{product.id}}">
                                <button type="submit" class="btn btn-outline-success btn-sm p-0 mx-2 px-2">Add</button>
                              </form> 

                            {% comment %} <form action="{% url 'product_remove' %}" method="POST">
                              {% csrf_token %}
                              <input type="hidden" name="id" id="" value="{{product.id}}">
                              <button type="submit" class="btn btn-outline-danger btn-sm p-0 mx-2 px-2">Remove</button>
                            </form> {% endcomment %}
                            </div>
                          </td>
                        {% else %}

                        {% endif %}
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
        </div>
       
      </div>
    </div>
    {% endblock content %}
  
  {% block script %}


      $(document).ready(function () {
        $("#remove_products_table").DataTable();
      });


  {% endblock script %}

